* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f7fa;
    color: #333;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #111;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


.hero {
    height: 90vh;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

.hero span {
    color: #00e6e6;
}

.hero p {
    margin: 15px 0;
    font-size: 1.2rem;
}

.hero button {
    padding: 12px 25px;
    border: none;
    background: #00e6e6;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}


.section {
    padding: 60px 40px;
    text-align: center;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.section p {
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
}


.bg {
    background: #eaeaea;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 25px;
    width: 260px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
}


footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 15px;
}
